.main {
    width: 30%;
    margin-top: 50px;
}

.main > div {
    border-radius: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}


/* media query for small screen size */
@media screen and (max-width: 600px) {
    .main > div {
        width: 60px;
        height: 60px;
    }
}

/* media query for medium screen size */
@media screen and (min-width: 600px) {
    .main > div {
        width: 80px;
        height: 80px;
    }
}

/* media query for large screen size */
@media screen and (min-width: 1000px) {
    .main > div {
        width: 100px;
        height: 100px;
    }
}